:root {
    --primary: #faaf90;
    --primaryAccent: #fcc9b5;
    --secondary: #8babf1;
    --secondaryAccent: #b3c7f7;
    --accent: #d9e4ff;
    --dark: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.responsive {
    width: 100%;
    height: auto;
}

.nav-item {
    list-style: none;
}

.flex-container {
    display: flex;
}